<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mapsIndoorTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67AF5A411EC06B1800DFDE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67AF5A551EC06B1800DFDE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67AF5A601EC06B1800DFDE4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
